block head
  title who撩
  link(rel='stylesheet', href='/stylesheets/about.css')

.content
  form(action="/make_pair")
    .form_line
      p 說明樂樂燈~
    .form_line
      button(type='submit' class='button') 開始