:root {
  --main-bg-color: #FFF;
  --main-bg-color2: #eee;
  --main-color:#aaa;
}

*{
  margin:0;
  padding:0;
}
html,body{
  width: 100%;
  height:100%;
}

body {
  font: 24px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: var(--main-bg-color);
}